/* restyle radio items */
.radio-group .form-check {
  padding-left: 0;
}

.radio-group .btn-group > .form-check:not(:last-child) > .btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.radio-group .btn-group > .form-check:not(:first-child) > .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: -1px;
}

.btn-outline-primary {
  outline-color: cornflowerblue;
  border-color: cornflowerblue;
  color: cornflowerblue;
}

.btn .btn-outline-primary .active {
  background: cornflowerblue;
  outline-color: cornflowerblue;
  border-color: cornflowerblue;
  color: white !important;

}

.btn-check:active+.btn-outline-primary, .btn-check:checked+.btn-outline-primary, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show, .btn-outline-primary:active {
  background: cornflowerblue;
  outline-color: cornflowerblue;
  border-color: cornflowerblue;
  color: white !important;
}
