body {
    font-family: 'Fira Sans', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
}

h1, h3, h4, h5, h6 {
    color: #333333;
}

h2 {
    color: #6495ED;
}

h4 {
    font-size: 2vw;
}

h5 {
    font-size: 1.7vw;
}

p {
    font-size: 0.8vw;
}